1:termux-setup-storage
2:pkg update && pkg install yt-dlp ffmpeg -y
3: Bu script, videoyu en yüksek kalitede çeker ve doğrudan /sdcard/Download (İndirilenler) klasörüne atar, böylece anında galeride görünür.

